<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Admin profile</title>
    </head>
    <body>
        <div th:insert = "fragments/header :: header"></div>
        <div>
            <!-- <h2>Profile of <span th:text="currentadmin.adminname"></span></h2> -->
            <p>adminusername: <span th:text="${currentadmin.adminusername}"></span></p>
            <p>adminpassword: <span th:text="${currentadmin.adminpassword}"></span></p>
            <!-- <a th:href="/logout">Logout</a> -->
        </div>
        <div th:insert = "fragments/footer :: footer"></div>
    </body>
</html>