<!-- templates/admin-salary-summary.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bảng tổng hợp lương</title>
</head>
<body>
    <h1>Bảng tổng hợp lương nhân viên</h1>

    <table border="1" cellpadding="5" cellspacing="0">
        <thead>
                <tr>
                    <th>checkbox</th>
                    <th>Sản Phẩm</th>
                    <th>Đơn Giá</th>
                    <th>Số Lượng</th>
                    <th>Số Tiền</th>
                </tr>
            </thead>
    <tr th:each="staff : ${staffs}" style="margin-bottom: 20px;">
            <td th:text="${staff.name}">Tên</td>
            <!-- <tr><th>Chức vụ</th><td th:text="${staff.position}">Chức vụ</td></tr> -->
            <td th:text="${staff.workhour}">0</td>
            <td th:text="${staff.hesoluong}">0.0</td>
                <td>
                    <span th:text="${T(com.example.ecommerce.model.StoreStaff).getLuongcoban()}">0</span>
                </td>
            <!-- <tr><th>Lương tối đa</th><td th:text="${T(com.example.ecommerce.model.StoreStaff).luongmax}">0</td></tr> -->
                <td th:text="${#numbers.formatDecimal(staff.workhour * staff.hesoluong * T(com.example.ecommerce.model.StoreStaff).getLuongcoban(), 0, 'COMMA', 2, 'POINT')}">
                    0
                </td>

        </tr>
    </table>
</body>
</html>
