<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Place order</title>
    <meta name="viewport" content="ice-width, initial-scale=1.0">
<link rel="stylesheet" th:href="@{/style.css}">
<link rel="stylesheet" th:href="@{/style.css}">
</head>
    <body>
        <div th:insert = "~{fragments/header :: header}"></div>
        <h2>Customer place order page</h2>

        
        <form th:action="@{/order/place}" method="post">
            <table class="cart-table">
                <thead>
                    <tr>
                        <th>Sản Phẩm</th>
                        <th>Đơn Giá</th>
                        <th>Số Lượng</th>
                        <th>Số Tiền</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="item, iterStat : ${selecteditems}">
                        
                        <td class="product-info">
                            <div>
                                <p th:text="${item.name}">Tên Sách</p>
                            </div>
                        </td>
                        <td th:text="${#numbers.formatDecimal(item.sellprice, 0, 'COMMA', 0, 'POINT')} + '₫'">Đơn Giá</td>
                        <td type="number" th:value="${item.quantity}" >So luong</td> 
                        <td th:text="${#numbers.formatDecimal(item.sellprice*item.quantity, 0, 'COMMA', 0, 'POINT')} + '₫'">So tien</td>
                    </tr>
                </tbody>
            </table>

            <button type="submit">Order</button>
        </form>

        <div th:insert = "~{fragments/footer :: footer}"></div>
    </body>
</html>
