<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="ice-width, initial-scale=1.0">
    <title>Đăng ký</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div th:insert="~{fragments/header :: header}"></div>

    <h2>Trang đăng ký</h2>
    <div class="login-container">
        <div class="login-tabs">
            <a href = "/admin/signup">
                <button class="tab">Admin</button>
            </a>
            <a href = "/login">
                <button class="tab active">Customer</button>
            </a>
        </div>

        <div class="login-tabs">
            <a href = "/login">
                <button class="tab">Đăng nhập</button>
            </a>
            <a href = "/signup">
                <button class="tab active">Đăng ký</button>
            </a>
        </div>
        

        <form class="login-form" th:object="${customer}" th:action="@{/signup}" method="post">

            <div class="form-group">
                <label for="username">firstname</label>
                <input type="text" id="firstname" th:field="*{firstname}" placeholder="enter firstname">
            </div>

            <div class="form-group">
                <label for="username">lastname</label>
                <input type="text" id="lastname" th:field="*{lastname}" placeholder="enter lastname">
            </div>

            <div class="form-group">
                <label for="username">username</label>
                <input type="text" id="username" th:field="*{username}" placeholder="enter username">
            </div>
            <div class="form-group">
                <label for="password">password</label>
                <div class="password-field">
                    <input type="password" th:field="*{password}" id="password" placeholder="Nhập mật khẩu">
                    <span class="show-password">show</span>
                </div>
            </div>
            <button type="submit" class="login-button">signup</button>
        </form>
    </div>
    <div th:insert="~{fragments/footer :: footer}"></div>
</body>
</html>
