<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <title>Books</title>
</head>
<body>
  <div th:replace="fragments/header :: header"></div>
  
  <h1>Books</h1>
  <div class="grid" id="bookGrid">
    <div class="card" th:each="book : ${books}">
      <img th:src="@{/images/{img}(img=${book.image})}" th:alt="${book.name}" />
      <a th:href="@{/book-detail(id=${book.productid})}" th:text="${book.name}"></a>
    </div>
  </div>

</body>
</html>

